

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="some description">
<meta name="keywords" content="some keywords">

<title>Some pagetitle</title>

<link rel="shortcut icon" href="/favicon.png" type="image/png">
<link rel="stylesheet" href="/css/app.css"/>