<!doctype html>
<html lang="ru">
<head>
  {% include '../blocks/head.twig' %}
</head>
<body>


<main class="container">
  {% block content %}
  {% endblock %}
</main>


{% include '../blocks/scripts.twig' %}
</body>
</html>