@import "variables";

.header
{
}

.logo
{
    max-width: 100%;
    width: 100%;
    display: inline-block;
}

.logo-container
{
    display: inline-block;
    max-width: 200px;
}

.email-link
{
    .icon-email
    {
        position: relative;
        top: 3px;
    }
}

.phone-link
{
    font-size: 22px;
    display: inline-block;

    .icon-phone
    {
        position: relative;
        top: 3px;
    }
}


.navbar
{
    background-color: #333;
    padding: 0 15px;

    .nav-link
    {
        color: #fff;
        transition: .3s;
        border: 1px dotted transparent;
        padding: 10px 25px !important;
        display: inline-block;

        &:hover
        {
            background-color: #fff;
            color: #333;
        }

        &.highlighted
        {
            border-color: rgba(255, 255, 255, 0.56);
            background-color: #fff;
            color: #333;

            &:hover
            {
                box-shadow: 1px 1px 10px #fff;
            }
        }
    }
}

.footer
{

}
