.icon {
	background: url("../../image/sprite-c23438b5.svg") no-repeat;
}

.icon-arrow {
	background-position: 91.46341463414635% 48%;
	width: 30px;
	height: 12px;
}

.icon-arrow-left {
	background-position: 77.31958762886597% 76.19047619047619%;
	width: 15px;
	height: 24px;
}

.icon-arrow-top {
	background-position: 0 0;
	width: 75px;
	height: 75px;
}

.icon-clock {
	background-position: 98.9010989010989% 72.72727272727273%;
	width: 21px;
	height: 21px;
}

.icon-comment {
	background-position: 0 100%;
	width: 12px;
	height: 12px;
}

.icon-consultation {
	background-position: 100% 0;
	width: 37px;
	height: 36px;
}

