.icon {
	background: url("../image/sprite-c2bc3f62.svg") no-repeat;
}

.icon-arrow {
	background-position: 91.46341463414635% 41.37931034482759%;
	width: 30px;
	height: 12px;
}

.icon-arrow-left {
	background-position: 0 100%;
	width: 15px;
	height: 24px;
}

.icon-arrow-top {
	background-position: 0 0;
	width: 75px;
	height: 75px;
}

.icon-arrow2 {
	background-position: 91.46341463414635% 55.172413793103445%;
	width: 30px;
	height: 12px;
}

.icon-clock {
	background-position: 16.483516483516482% 96.15384615384616%;
	width: 21px;
	height: 21px;
}

.icon-comment {
	background-position: 75% 68.96551724137932%;
	width: 12px;
	height: 12px;
}

.icon-consultation {
	background-position: 100% 0;
	width: 37px;
	height: 36px;
}

